language: python
matrix:
  include:
    - name: "Python 3.8.0 on Xenial Linux"
      python: 3.8
      dist: xenial
    - name: "Python 3.7.4 on macOS"
      os: osx
      osx_image: xcode11.2
      language: shell
    - name: "Python 3.7.4 on Windows"
      os: windows
      language: shell
      before_install:
        - choco install python --version 3.8.0
        - python -m pip install --upgrade pip
        - choco install make
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
install: pip3 install -r requirements-tests.txt
script: make coverage-upload
